:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    margin: auto auto;
    height: 800px;
    width: 800px;
    grid-gap: 0.em;
    grid-template-rows: repeat(var(--grid-rows), 0.5fr);
    grid-template-columns: repeat(var(--grid-cols), 0.5fr);
}

#reset{
    display: block;
    margin: 15px auto;
    height: 30px;
    width: 65px;
    background-color: aqua;
}

.grid-item {
    border: 1px solid #ddd;
    text-align: center;
}